* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Livvic';
    font-style: normal;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.head {
    width: 100%;
    height: 32.313rem;
    background: #014E56;
}

.nav-header {
    width: 80%;    
    height: 3rem;
    margin: 4.563rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}

.nav {
    display: flex;
    align-items: center;
}

.nav1 {
    margin-left: 4rem;
}

.nav1 a {
    margin-left: 2.5rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}

.button {
    width: 9.563rem;
    height: 3rem;
    border: 2px solid #FFFFFF;
    border-radius: 24px ;
    color: #FFFFFF;
    background: none;
    font-weight: 700;
    font-size: 1rem;
    -webkit-border-radius: 24px ;
    -moz-border-radius: 24px ;
    -ms-border-radius: 24px ;
    -o-border-radius: 24px ;
}

.hero {
    width: 80%;    
    height: 9.75rem;
    margin: 4.563rem 10rem;
    display: flex;   
}

.hero h1 {
    width: 21.875rem;
    height: 6.25rem;
    font-weight: 700;
    font-size: 4rem;
    line-height: 100px;
    color: #FFFFFF;
}

.content {
    width: 45.625rem;
    height: 9.75rem;
    margin-left: 4rem;
}

.content-head {
    width: 45.625rem;
    height: 7rem;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.75rem;
    margin-top: 2.75rem;
    color: #FFFFFF;
}

.circle-svg {
    margin-left: 7.2rem;
    margin-top: 7.6rem;
}

.layout {
    height: 62.625rem;
    width: 100%;
    background: #004047;
}

.meet {
    width: 920px;
    height: 48px;
    color: white;
    margin-left: 280px;
    margin-top: 140px;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

.circle-svg-1 {
    margin-top: -188px;
}

.wrapper {
    margin-top: 64px;
    margin-left: 175px;
    text-align: center;
    width: 1110px;
    height: 610px;
    border: 2px solid white;
    /* display: flex;
    justify-content: space-around; */
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 76px;
}

.box {
    height: 253px;
    width: 350px;
    border: 2px solid white;
}

.square-svg {
    margin-left: 86rem;
    margin-top: 1.2rem;
}