/* All elements */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Livvic';
    font-style: normal;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.head {
    width: 100%;
    height: 32.313rem;
    background: #014E56;
}

.nav-header {
    width: 80%;    
    height: 3rem;
    margin: 4.563rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav1 {
    margin-left: 4rem;
}

.nav1 a {
    margin-left: 2.5rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}

.button {
    width: 9.563rem;
    height: 3rem;
    border: 2px solid #FFFFFF;
    border-radius: 24px ;
    color: #FFFFFF;
    background: none;
    font-weight: 700;
    font-size: 1rem;
    -webkit-border-radius: 24px ;
    -moz-border-radius: 24px ;
    -ms-border-radius: 24px ;
    -o-border-radius: 24px ;
}

.hero {
    width: 80%;    
    height: 9.75rem;
    margin: 4.563rem 10rem;
    display: flex;   
}

.hero h1 {
    width: 21.875rem;
    height: 6.25rem;
    font-weight: 700;
    font-size: 4rem;
    line-height: 100px;
    color: #FFFFFF;
}

.content {
    width: 45.625rem;
    height: 9.75rem;
    margin-left: 4rem;
}

.content-head {
    width: 45.625rem;
    height: 7rem;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.75rem;
    margin-top: 2.75rem;
    color: #FFFFFF;
}

.circle-svg {
    margin-left: 7.2rem;
    margin-top: 7.6rem;
}

.layout {
    height: 62.625rem;
    width: 100%;
    background: #004047;
}

.meet {
    width: 57.5rem;
    height: 48px;
    color: white;
    margin-left: 17.5rem;
    margin-top: 8.75rem;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

.circle-svg-1 {
    margin-top: -188px;
}

.wrapper {
    margin-top: 64px;
    margin-left: 190px;
    text-align: center;
    width: 69.375rem;
    height: 38.125rem;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4.75rem;
}

.box {
    height: 253px;
    width: 21.875rem;
    background-color: #012F34;
}

.box img {
    width: 6rem;
    margin-top: 2rem;
    border-radius: 3rem;
    border: 2px solid #c4fffe;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.box h3 {
    height: 28px;
    width: 18.875rem;
    text-align: center;
    margin-left: 24px;
    color: #79C8C7;
    font-size: 18px;
}

.box h4 {
    height: 25px;
    width: 18.875rem;
    text-align: center;
    margin-left: 24px;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.cross-svg {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 38px;
    margin-left: 147px;
    background: #F67E7E;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
}

.box h2 {
    height: 28px;
    width: 18.875rem;
    text-align: center;
    margin-left: 24px;
    margin-top: 35px;
    color: #79C8C7;
    font-size: 18px;
}

.box h5 {
    height: 75px;
    width: 15.875rem;
    margin-left: 48px;
    margin-top: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.social-svg {
    width: 3.75rem;
    height: 20px;
    margin-left: 141px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.close-svg {
    width: 3.5rem;
    height: 56px;
    margin-top: 38px;
    margin-left: 147px;
    background: #79C8C7;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-svg {
    margin-left: 86rem;
    margin-top: 1.2rem;
}

.content-clients {
    width: 100%;
    height: 437px;
    background:  #012F34;
}

.container-hay {
    width: 57.5rem;
    height: 48px;
    margin-left: 260px;
    margin-top: -60px;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}

.logos-container {
    display: flex;
    width: 68.75rem;
    height: 100px;
    margin-top: 64px;
    margin-left: 165px;
    text-align: center;
    justify-content: space-between;
}

.content-contact {
    width: 100%;
    height: 200px;
    background: #F67E7E;
    
}

.contain {
    display: flex;
    width: 57.313rem;
    height: 48px;
    justify-content: space-between;
    margin-left: 263px;
    margin-top: 76px;        
}

.container-ready {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
}

.button-1 {
    width: 9.563rem;
    height: 3rem;
    border: 2px solid #012F34;
    border-radius: 24px ;
    color: #012F34;
    background: none;
    font-weight: 700;
    font-size: 1rem;
}

.circle-svg-3 {
    margin-top: -68px;
}

.footer {
    width: 100%;
    height: 196px;
    background: #002529;
}

.footer-content {
    width: 69.375rem;
    height: 100px;
    margin-left: 190px;
    margin-top: 48px;
}

.container-hat {
    height: 28px;
    width: 8.75rem;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.container-hat a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}

.contact-content {
    height: 100px;
    width: 27.813rem;
    margin-left: 258px;
    margin-top: -98px;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    letter-spacing: 1px;
}

.handle {
    width: 6.5rem;
    height: 24px;
    margin-left: 950px;
    margin-top: -94px;
    display: flex;
    justify-content: space-around;
}

.copyright {
    height: 25px;
    width: 15.938rem;
    margin-left: 795px;
    margin-top: 36px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}
