@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@500;600;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --body-color: #014E56;
    --footer-color: #002529;
    --footer-text: #979797;
    --icon-svg: #79C8C7;
    --msg-text: #979797;
    --h3-color: #F67E7E;
    --sidenav-color: #;
    --desktop-width: 80vw;
    --mobile-width: 100svw;
    --tablet-width: 90vw;
}

body {
    overflow-x: hidden;
    height: auto;
    background-color: #FFFFFF;
    font-family: 'Livvic', sans-serif;
    background: var(--body-color);
}

.container {
    width: 100%;
    margin: 0 auto;
    background: var(--body-color);
}

header {
    display: flex;
    width: 75%;
    margin: 3rem auto 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.links > a{
    color: #FFFFFF;
}
nav{
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-between;
}

.menu-svg {
    display: none;
}

.nav > a{
    color: #FFFFFF;
}

/* side bar */
/* .sidenav{
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidenav-color);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
} */

/* .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
} */

/* .sidenav a:hover {
    color: #f1f1f1;
} */

/* .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} */


/* .nav-links{
    position: absolute;
    left: 500px;
    top: 65px;
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
} */

/* .nav-links a{
    color: #FFF;
} */

.btn-1{
    border-radius: 50px;
    padding: 10px 30px;
    margin: 0 0.5rem 0 0;
    align-items: center;
    color: #FFF;
    border:2px solid#FFFFFF;
    background: none;
    font-size: 1rem;
}

.side-right{
    position: absolute;
    left: 89.5rem;
    top: 32.7rem;
}

.side-left{
    position: absolute;
    right: 90rem;
    top: 12rem;
}


.content{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
}

.content-body {
    width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);

}

.content-body-left h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
    color: #FFFFFF;
}

.content-body-left h3{
    font-size: 2rem;
    font-weight: 700;
    line-height: 5rem;
    color: #F67E7E;
}

.content-body-left p{
    font-size: 1rem;
    line-height: 3rem;
    color: #FFFFFF;
}

.something {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.p-image {
    display: flex;
    gap: 1rem;
}

.p-image p {
    margin-block: auto;
}

form .input-box{
    position: relative;
    background:var(--body-color);
    width: 100%;
    margin-top: 1rem;
}

form .input-box input,
form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.2rem;
    color: #FFFFFF;
    background: transparent;
    resize: none;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 2px solid var(--footer-text);
}

form .input-box input::placeholder,
form .input-box textarea::placeholder{
    line-height: 40px;
    font-size: 1.2rem;
    color: #FFFFFF;
    padding-left: 2rem;
    padding-bottom: 1rem;
    background: transparent;
}

form .input-box input:is(:focus,),
form .input-box textarea:is(:focus){
    border-bottom-color: #79C8C7;
}

#email_error{
    
}

.input-box button{
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    color: var(--body-color);
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

/* Footer */

.footer {
    background: var(--footer-color);
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.row{
    padding: 1em 1em;
}

.footer-content {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
}

.foot-link{
    width: 100%;
}

.footer-nav-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0 0;
}

.footer-nav-links a{
    color: #FFF;
}

.address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 10rem;
    line-height: 1.5rem;
    color: var(--footer-text);
}

.socials{
    margin: 0 0 0 15rem;
    justify-content: right;
    text-align: right;
    line-height: 3rem;
    color: var(--footer-text);
}

.social-icons img{
   padding: 0.2rem 0.6rem;
}

@media screen and (max-width: 850px) {
    .footer-content .row {
      grid-template-columns: 1fr;
    }
  
  }

  /* Tablet view */

  @media screen and (max-width: 768px) and (min-width: 481px) {
    body {
        overflow-x: hidden;
    }

    .container {
        overflow-x: hidden;
        width: var(--tablet-width);
    }

    header {
        display: flex;
        width: 100%;
        margin: 3rem .5rem 0 .5rem;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 45%;
    }

    .logo > img{
        width: 100px;
    }
    
    .links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 35%;
    }

    nav{
        display: flex;
        width: 25%;
        align-items: center;
        justify-content: space-between;
        margin-right: 0;
    }

    .menu-svg{
        display: none;
    }

    .btn-1{
        margin-right: 0;
        font-size: .8rem;
        padding: 8px 20px;
    }

    .content-body {
        grid-template-columns: 1fr;
        
    }
    .side-right{
        position: absolute;
        left: 41.5rem;
        top: 61.5rem;
        width: 104px;
        overflow: hidden;
    }
    
    .side-left{
        position: absolute;
        right: 43rem;
        top: 12rem;
    }

    .footer{
        position: absolute;
        left: 0;
        right: 0;
    }
    .content-body-left h1{
        font-size: 64px;
        font-weight: 700;
        line-height: 56px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 2rem;
    }

    .content-body-left h3{
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 2rem;
    }


    .footer-content {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto;
        gap: 3rem;
    }

    .row {
        margin: 2rem .5rem ;
      }
    
    .foot-link{
        width: 40%;
        margin: 5rem 0 0;
    }

    .address > p{
        text-align: right;
    }
    .socials{
        display: flex;
    }

    .social-icons{
        position: absolute;
        left: 1rem;
        margin-left: 0;
      }

      .socials > p{
        position: absolute;
        right: 1.4rem;
      }
      
  }

  /* Mobile view Medium */
  @media screen and (max-width: 768px){
    .footer-content .row {
        grid-template-columns: 1fr;
      }
      .content-body {

        grid-template-columns: 1fr;
     
     }
  }

  @media screen and (max-width: 480px) {
    .content-body {

       grid-template-columns: 1fr;
    
    }

    body{
        overflow-x: hidden;
        width: var(--mobile-width);
    }
    .content {
      grid-template-columns: 1fr;
    }
    .links, .nav{
        display: none;;
    }
    .content-body-left{
        margin-bottom: 1rem;
    }
    .content-body-left h1{
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 2rem;
        color: #FFFFFF;
    }

    .content-body-left h3{
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 2rem;
        color: #F67E7E;
    }

    .menu-svg{
        display: inline;
        width: 8rem;
        margin-left: 130px;
     }

    .content-body-left p{
        font-size: 1.2rem;
        line-height: 36px;
        color: #FFFFFF;
    }

    .links, .nav{
        display: none;
    }
    .side-right{
        position: absolute;
        left: 21rem;
        top: 66rem;
        width: 88px;
        overflow: hidden;
    }
    .side-right img{
        width: 175px;
        height: 150px;
    }
    /* footer */

    .footer{
        display: flex;
        align-items: center;
        margin: 0;
        position: absolute;
        right: 0;
        left: 0;
    }

    .footer-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
    }

    .address{
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0;
        text-align: center;
    }

    .socials{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .social-icons{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .socials > p{
        line-height: 25px;
        font-size: 14px;
        align-items: center;
    }
}

/* @media only screen and (max-width: 480px) and (min-width: px) { */

/* Mobile view small */
  @media screen and (max-width: 375px) {
    body{
        overflow-x: hidden;
        width: var(--mobile-width);
    }

    .container{
        overflow-x: hidden;
    }

    .logo > img{
        width: 100px;
    }
    .content {
      grid-template-columns: 1fr;
    }

    .content-body-left{
        margin-bottom: 1rem;
    }
    .content-body-left h1{
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 2rem;
        color: #FFFFFF;
    }

    .content-body-left h3{
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 2rem;
        color: #F67E7E;
    }

    .content-body-left p{
        font-size: .8rem;
        line-height: 36px;
        color: #FFFFFF;
    }

    .links, .nav{
        display: none;
    }
    .menu-svg{
       display: inline;
       width: 8rem;
       margin-left: 130px;
    }
    .side-right{
        position: absolute;
        left: 14.5rem;
        top: 66rem;
        width: 88px;
        overflow: hidden;
    }
    .side-right img{
        width: 175px;
        height: 150px;
    }
    /* footer */

    .footer{
        display: flex;
        align-items: center;
        width: auto;
        margin: 0;
        position: absolute;
        right: 0;
        left: 0;
    }

    .footer-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
    }
    .content-right > nav{
        width: 100%;
    }
    .footer-nav-links{
        width: 100%;
    }

    .address{
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0;
        text-align: center;
    }

    .socials{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .social-icons{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .socials > p{
        line-height: 25px;
        font-size: 14px;
        align-items: center;
    }
}