*{    
    margin: 0;
    padding: 0;
    /* font-family: barlow; */
}
body{
    font-family: 'Livvic';
    font-style: normal;
}
/* :root{
    --background-police-blue-color:#2c6269;
    --background-orange-hover: #ff9b62;
    --main-color:#162542;
    --light-grey:#e8eff2;
    --main-light-color:#788bad;
    --white-color:#fff;
} */

.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    /* background: rgb(2, 41, 2);   */
}
.head{
    width: 100%;
    background-color:  #014E56;
    height: 40rem;
}
.nav{
    width: 80%;
    margin: 4.563rem 10.313rem;
    /* background-color: blue; */
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
}
.nav1{
    position: relative;
    display: flex;
    align-items: center;
}

.menu {
    position: relative;
    margin-left: 4rem;
}

.menu a{
    width: 5rem;
    text-decoration: none;
    justify-content: center;
    color: white;
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 400;
}
.nav-btn1 {
    position: relative;
    border-radius: 3rem;
    height: 3rem;
    width: 8rem;
    margin-top: .4rem;
    background: none;
    border: 2px solid white;
    justify-content: center;
    
}
.nav-btn1 a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.talent{
    width: 80%;
    margin: 6.563rem 10.313rem;
    display: flex;
    /* justify-content: space-between; */
}
.talent h1{
    width: 39.6rem;
    font-weight: 700;
    font-size: 7.25rem;
    line-height: 6.25rem;
    color: #fff;
}
.talent h1 span{
    color: #F67E7E;
}

.talent p{
    width: 26rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 28px;
    margin-top: 5.4rem;
    /* margin: 5.4rem 2rem; */
    color: #fff;
}
.tal-content{
    margin-left: 10rem;
}
.svg-1{
    position: relative;
    top: -20rem;
}
.svg-2{
    position: relative;
    top: -14.3rem; 
    margin-left: 65rem;

}
.mid-content{
    width: 100%;
    background-color:  #012F34;
    height: 50rem;
}

.build{
    width: 80%;
    margin: 8.75rem 10.313rem;
    display: flex;
}
.build1 h1{
    width: 27.8rem;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 3.3rem;
    line-height: 3rem;
    color: #fff;
}
.build-content h1{
    color: #F67E7E;
    width: 33.7rem;
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
   
}
.build-content{
    margin-left: 1.438rem;
}
.build-content svg{
    margin-top: 2rem;
}
.build-content p{
    font-style: normal;
    font-weight: 600;
    font-size: 0.938rem;
    line-height: 1.563rem;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.experienced{
  display: flex;
 
}
.exp-main{
    margin: 2rem 2rem;

}
.easy{
    display: flex;
   
}
.easy-main{
    margin: 2rem 2rem;
}
.enhanced{
    display: flex;
 
}

.enhanced-main{
    margin: 2rem 2rem;
}
.enhanced p{
    margin-top: -1px;
}
.build-svg-1{
    position: relative;
    top: -15.3rem;
    left: 89rem;
}


.third-content{
    width: 100%;
    height: 46.563rem;
    background-color: #004047;
}

.real{
      margin: 6.563rem 10.313rem;
}

.real h1 span{
    color: #79C8C7;
}
.real h1{
    width: 54.85rem;
    height: 6rem;
    margin-left: 10.875rem;
    top: 95.25rem;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #fff;
}
.quote{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    width: 69.375rem;
    height: 19.563rem;
    left: 10.313rem;
    top: 104.75rem;
}
.quote-1{
    width: 45rem;
    font-style: normal;
    font-weight: 600;
    font-size: 0.938rem;
    line-height: 1.563rem;
    text-align: center;
    color: #fff;
}
.quote-2{
    width: 45rem;
    font-style: normal;
    font-weight: 600;
    font-size: 0.938rem;
    line-height: 1.563rem;
    text-align: center;
    color: #fff;   
}
.quote-3{
    width: 45rem;
    font-style: normal;
    font-weight: 600;
    font-size: 0.938rem;
    line-height: 1.563rem;
    text-align: center;
    color: #fff;
}
.quote svg{
    margin-bottom: -2rem;
}
.quote h4{
   color: #79C8C7;
   font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.quote .name-1{
    margin-top: 2rem;
}
.quote .name-2{
    margin-top: 2rem;
}
.quote .name-3{
    margin-top: 2rem;
}
.quote .name-1 p{
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}
.quote .name-2 p{
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}
.quote .name-3 p{
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}
.name-1 img{
    width: 4rem;
    margin-top: 2rem;
    border-radius: 2rem;
    border: 2px solid #C4FFFE;
}
.name-2 img{
    width: 4rem;
    margin-top: 2rem;
    border-radius: 2rem;
    border: 2px solid #C4FFFE;
}
.name-3 img{
    width: 4rem;
    margin-top: 2rem;
    border-radius: 2rem;
    border: 2px solid #C4FFFE;
}
.real-svg-1{
    position: relative;
    top: -35.2rem;
    left: -13rem;
}
.real-svg-2{
    position: relative;
    top: -1.4rem;
    left: 72.2rem;
}
.fourth-content{
    width: 100%;
    height: 12.5rem;
    /* top: 133.063rem; */
    background: #F67E7E;   
}
.container-ready{
    display: flex;
    width: 917px;
    height: 48px;
    justify-content: space-between;
    margin-left: 263px;
    margin-top: 76px;
}
.ready{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
}
.container-ready .btn-1{
    position: relative;
    border-radius: 3rem;
    height: 3rem;
    width: 8rem;
    margin-top: .4rem;
    background: none;
    border: 2px solid #012F34;
    justify-content: center;
    font-weight: 700;
    font-size: 1rem;
}
.ready-svg{
    position: relative;
    top: -4.2rem

}
.footer {
    width: 100%;
    height: 12.25rem;
    background: #002529;
}

.footer-content {
    width: 69.375rem;
    height: 6.25rem;
    margin-left: 11.875rem;
    margin-top: 3rem;
}

.container-hat {
    height: 1.75rem;
    width: 8.75rem;
    margin-top: 1.563rem;
    display: flex;
    justify-content: space-between;
}

.container-hat a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}

.contact-content {
    height: 6.25rem;
    width: 28.438rem;
    margin-left: 16.125rem;
    margin-top: -6.125rem;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.438rem;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    letter-spacing: 1px;
}

.handle {
    width: 6.5rem;
    height: 1.5rem;
    margin-left: 59.375rem;
    margin-top: -5.875rem;
    display: flex;
    justify-content: space-around;
}

.copyright {
    height: 25px;
    width: 15.938rem;
    margin-left: 49.688rem;
    margin-top: 2.25rem;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}
